.topcontainer{
    background-color: #f6f6f6;
}

.mainsitecontainer{

 display: flex;
flex-direction: column;
background: white;
margin-bottom: 30px;
justify-content: center;
padding: 10px;
align-items: center;
font-size: 80%;
color: grey;
cursor: pointer;
box-shadow: 2px 2px 17px -12px black;
}

.search{
    padding: 7px 5px;
    margin-bottom: 20px;
    width: 180px;
    width: 68vw;
    color: black;
    border: 2px solid grey;
    background-color: white;
}

.searchbtn{
    padding: 9px 20px;
    border: none;
    color: rgb(14, 14, 14);
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 600;
    background: mediumspringgreen;
    
}



.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
}





.sitescontainer{
    display: flex;
    width: 100%;
    background: white;

}
.img{
    height: 100px;
    width:100px;
    cursor: pointer;
}

.heading{
    font-size: 130%;
    margin-bottom: 20px;
}
.nav{
    margin-bottom: 20px;
    color: grey;
}



.leftsite{
    position: relative;
    flex: 30%;
}

.rightsite{
    position: relative;
    flex: 70%;
    background: rgb(246 246 246);
    border-radius: 10px;
    padding: 8px;
    color: black;
    font-size: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-direction: column;
    
}

.imagetag{
    position: absolute;
    right: 20px;
    font-size: 100%;
    color: white;
}
.picholder{
    position: relative;
}

.agotext{
    position: absolute;
    bottom: 5.5px;
    font-size: 60%;
    background: #8080809e;
    color: white;
    padding-inline: 10px;
    width: 100px;
}



.residential{
    font-weight: 600;
}

.pricebox{
padding: 4px 10px;
border-radius: 35px;
 background-color: #c7e5ff;;
}

.priceicn{
    margin-bottom: -2px;
    font-size: 100% !important;
}

.contactholder{
    /* margin-top: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contactboxx{
    flex: 50%;
    color: white;
    background-color: #25d366;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    align-items: center;
}

.contactbox{
    flex: 50%;
    color: white;
    margin: 5px;
    background-color: #0078db;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    height: 40px;
    align-items: center;
}

.callicn{
    position: relative;
    top: 3px;
    font-size: 16px !important;
}

.callicnx{
    position: relative;
    top: 5px;
    font-size: 17px !important;
}

.contact, .contactx{
font-weight: bold;
}

.sitedesc{
    margin: 0px;
    margin-top: 5px;

}

.details{
    margin-bottom: 20px;
    color: rgb(47, 47, 47);
    font-size: 110%;
}

.share{
    position: absolute;
    top: 10px;
    right: 10px;
    color: lightskyblue;
    cursor: pointer;
}

.abouthead{
    margin-bottom: 10px;
    padding-left: 10px;
}

.abouttext{
    font-size: 80%;
    color: #404040;
    padding-inline: 10px;
}

.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* for mobile devices */

@media only screen and (min-width: 850px) {
   .contactholder  {
      display: block;
      width: auto;

    }

    .mainsitecontainer{
        letter-spacing: 1.5px;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 100% !important;
        margin-inline: 30px;
    }

    .rightsite{
        font-size: 120%;
        width: 600px;
        padding: 12px;
        padding-inline: 40px;
        box-shadow: 2px 2px 17px -12px black;

    }
    .img{
        height: 140px;
        width: 160px;
        border-radius: 10px;
        box-shadow: 2px 2px 17px -12px black;
    }

    .sitedesc{
        font-size: 120%;
        padding: 5px;
        width: 800px;
        margin: auto;
    }

    .contactbox{
        width: 155px;
        box-shadow: 2px 2px 17px -12px black;

    }

    .contactboxx{
        width: 155px;
        box-shadow: 2px 2px 17px -12px black;

    }

    .share{
        right: 26px
    }

    .heading{
        font-size: 170%;
        margin-bottom: 30px;
    }

    .search{
        width: 400px;
        margin-right: 10px;
    }

    .pricebox{
        padding-inline: 15px;
    }

    .abouthead{
        font-size: 200%;
    }

    .abouttext{
        font-size: 110%;
        
    }

    .leftsite{
        flex: 20%;
        margin-right: 20px;
    }
    .rightsite{
        flex: 80%;
    }

    .imagetag{
        right: 5px;
       
    }
    .agotext{
        width: 160px;
    }
  }