.siteimg{
    width: 90vw;
    height: auto;
    max-height: 100vh;
    display: block;
    margin-bottom: 20px;
    margin-inline: auto;
    
}

.topmaincontainer{
 background-color: #f6f6f6;;
}

.container{
    position: relative;
    padding: 10px;
    background-color: #f6f6f6;
}


.nav{
    color: grey;
    margin-bottom: 20px;
}

.heading{
    font-size: 130%;
    margin-bottom: 20px;
}


.headingx{
    font-weight: 600;
    font-size: 120%;
    margin-bottom: 20px;
}
.gobackicn{
    position: relative;
    top: 6px;
}

.goback{
    margin-bottom: 20px;
    color: grey;
}


.desc{
padding: 10px;
font-size: 100%;
background: rgb(240, 240, 240);
font-weight: 400;
border-radius: 10px;
margin-bottom: 20px;


}



.contactholder{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.priceandsqft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.price, .area{
    padding: 10px;
    /* background: #ececec; */
    background-color: mediumspringgreen;
    margin: 10px;
    flex: 50%;
    border-radius: 10px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    

}

.ps{
    margin-left: 5px;
}

.propertyinfo{
    margin-left: 12px;
    margin-bottom: 5px;
}

.propertyinfoxx{
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.propertyinfox{
    margin-bottom: 10px;
}

.callicn{
    position: relative;
    top: 3px;
}

.callicnx{
    position: relative;
    top: 6px;
}



.contactboxx{
    flex: 50%;
    color: white;
    background-color: #25d366;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    align-items: center;
}

.contactbox{
    flex: 50%;
    color: white;
    margin: 5px;
    background-color: #0078db;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    height: 50px;
    align-items: center;
}

.share{
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 5vw;
    color: lightskyblue;
}

@media only screen and (min-width: 850px) {
.desc{
    font-size: 120%;
    margin-top: 10px;
}

.heading{
    font-size: 140%;
}

.siteimagesx{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.siteimg{
    height: auto;
    width: 600px;
}
}