.siteimg{
    width: 90vw;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin-inline: auto;
    
}

.container{
    padding: 10px;
    background-color: #f6f6f6;
}


.nav{
    color: grey;
    margin-bottom: 20px;
}

.heading{
    font-size: 140%;
    margin-bottom: 20px;
}


.desc{
padding: 10px;
font-size: 120%;
background: rgb(240, 240, 240);
margin: 5px;
border-radius: 10px;


}



.contactholder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.priceandsqft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.price, .area{
    padding: 20px;
    /* background: #ececec; */
    background-color: mediumspringgreen;
    margin: 10px;
    flex: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 80%;
    

}

.ps{
    margin-left: 5px;
}

.propertyinfo{
    margin-left: 12px;
    margin-bottom: 5px;
}

.propertyinfox{
    margin-bottom: 10px;
}

.callicn{
    position: relative;
    top: 3px;
}

.callicnx{
    position: relative;
    top: 4px;
}

/* .contact{
    padding: 8px 15px;
    background-color: #0078db;
    color: white;
    margin: 5px;
    font-size: 120%;
    border-radius: 10px;
}

.contactx{
    padding: 8px 15px;
    background-color: #25d366;;
    color: white;
    margin: 5px;
    font-size: 120%;
    border-radius: 10px;
} */

.contactboxx{
    flex: 50%;
    color: white;
    background-color: #25d366;
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
}

.contactbox{
    flex: 50%;
    color: white;
    margin: 5px;
    background-color: #0078db;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
}